*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(to top, black, gray, rgb(195, 194, 194));
    color:#fff;
    font-family:'Poppins', sans-serif;
}

/* SECTION SPACING */
section{
    padding:90px 10%;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-img{
    width:260px;
    border-radius:20px;
}

.hero-right h1{
    font-size:48px;
    line-height:1.2;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}
.hero-right h1 span{
    background: linear-gradient(90deg, #006aff, #00ffd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 15px rgba(0,0,0,0.8);
    margin-left: 60px;
}

.btn{
    display:inline-block;
    margin-left: 90px;
    margin-top:40px;
    padding:10px 20px;
    border-bottom: 1px solid white;
    border-radius:20px;
    text-decoration:none;
    color:#fff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}

/* ABOUT */
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.about h1{
    color: #000000;
}

.about-text{
    max-width:520px;
}

.about-image img{
    width:260px;
    border-radius:20px;
}

/* SKILLS */
.patterns{
    text-align: center;
}
.patterns h1{
    margin-bottom:30px;
    color: #000000;
}

.skill-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.skill-grid div{
    border:1px solid #333;
    padding:30px;
    text-align:center;
    border-radius:15px;
}

/* WORK */
.work{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.work h1{
    color: #000000;
}
.work-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin:30px 0;
}

.work-grid img{
    width:100%;
    height: 30vh;
    border-radius:20px;
}

.work-description{
    max-width:500px;
    text-align: center;
}

/* EDUCATION */
.education{
    text-align:center;
}

/* CONTACT */
.contact-info{
    margin-top:20px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px;
    color:#888;
}
